#menu{
    position: inherit;
    width: 20%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    padding-top: 18%;
    padding-bottom: 18%;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}
ul{
    list-style: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}