#EmailListe{
    margin-left: 20%;
    margin-top: -46.9%;
    width: 25%;
    height: 694px;
    line-height: 40px;
    background-color: rgba(100, 149, 237, 0.29);
    overflow: auto;

}
ol{
    list-style: none;


}
#EmailListe li{
    border-bottom: 0.5px solid;

}
a:link{
    text-decoration: none;
}

.detail{
    color: black !important;
}
