//
   Created by nicolas baillod on 11.04.2018.

html
    body
        h1 Carnet d'adresse
        div
         each info in user
            each adress in info
             ul
              each val in adress
               li= val



