// Created by aurélien valeille on 13.04.2018.

html
    body
        h1 Boite de réception
        div
         each info in user
            each adress in info
             ul
              each val in adress
               li= val
              



