#EmailListe{
    margin-left: 19.4%;
    margin-top: -49%;
    width: 25%;
    height: 694px;
    line-height: 40px;
    background-color: rgba(100, 149, 237, 0.29);
    overflow: auto;
}

#Email{
    padding-left: 50%;
    margin-top: -40%;
}
#Email2{
    padding-left: 50%;
    margin-top: -40%;
}
#Email3{
    padding-left: 50%;
    margin-top: -40%;
}
#Email4{
    padding-left: 50%;
    margin-top: -40%;
}
form{
    font-size: 25px;
    margin-top: 2%;
}
input{
    width: 30%;
    border: none;
    border-bottom: 0.3px solid;

}
textarea{
    height: 300px;
    width: 80%;
    margin-top: 1%;
}

ol{
    list-style: none;


}
#EmailListe li{
    border-bottom: 0.5px solid;

}
a:link{
    text-decoration: none;
}

.detail{
    color: black !important;
}
.detail2{
    color: black !important;
}
.detail3{
    color: black !important;
}
.detail4{
    color: black !important;
}
